        <div id="OverscrollLoader" class="overscroll-loader" aria-hidden="true">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--full-color icon-loader--full-color">
            <path class="icon-loader__close" d="M19 17.61l27.12 27.13m0-27.12L19 44.74"/>
            <path class="icon-loader__path" d="M40 90a40 40 0 1 1 20 0"/>
          </svg>
        </div>