{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_d14a108c-1528-4fc4-9b16-bf1174401aab = section.settings['replo_text_d14a108c-1528-4fc4-9b16-bf1174401aab'] -%}
    {%- capture default_replo_text_d14a108c-1528-4fc4-9b16-bf1174401aab -%}<p>Crafted by a family of Australian healthcare workers, our premium men’s scrubs are all about freedom of movement, everyday comfort, and a modern fit. Made from high-quality, breathable fabric, they’re built to handle demanding days without sacrificing style—because when you’re caring for others, you deserve scrubs that take care of you.</p>{%- endcapture -%}
    {%- assign replo_text_d14a108c-1528-4fc4-9b16-bf1174401aab = replo_text_d14a108c-1528-4fc4-9b16-bf1174401aab | default: default_replo_text_d14a108c-1528-4fc4-9b16-bf1174401aab -%}
    "replo_text_d14a108c-1528-4fc4-9b16-bf1174401aab": {{ replo_text_d14a108c-1528-4fc4-9b16-bf1174401aab | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}