and (max-width: 2400px)"/><img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/10_3f686d63-da96-47f1-a2ef-fe0600e211c5.png?v=1732520729" alt="A white circular object on a plain background." class="r-z2fvyw" loading="eager"/></picture><div data-rid="1a9622c1-06bf-4885-87ca-71149b81f446" class="r-14frlre alchemy-rte"><span style="width:100%"><p>99-day hassle-free</p><p>return & exchange</p></span></div></div></div></div>{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}<a data-rid="5337a02f-1654-4ffd-be4a-345cfef47c62" tabindex="0" role="link" class="text r-1f9h6iu alchemy-rte" target="_blank" href="https://www.drwoofapparel.com.au/" rel="noreferrer"><div data-rid="eec3e74a-34e2-48fe-91c1-d783f3b38ab8" class="r-403z6y alchemy-rte"><span style="width:100%"><p>SHOP NOW</p></span></div></a>{%- comment -%}replo-liquid-chunk-end{%- endcomment -%}</div><div data-rid="0e8d730b-e15e-4ce3-96a5-277bab396982" class="r-2hnev7"></div><div data-rid="e552298e-151d-4bf9-b457-0c1d7e591577" class="r-1j0mbf0"><picture data-rid="7ca4787e-68eb-4999-8a1f-5913939f8946" class="r-1n7qwrk"><source srcSet="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/18236650_1493058390756751_1501704681_o.png?v=1732520921&amp;width=340" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/18236650_1493058390756751_1501704681_o.png?v=1732520921&amp;width=340" media="(min-width: 641px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/18236650_1493058390756751_1501704681_o.png?v=1732520921&amp;width=340" media="(min-width: 1025px) and (max-width: 2400px)"/><img src="https://cdn.shopify.com/s/files/1/0573/7250/8344/files/18236650_1493058390756751_1501704681_o.png?v=1732520921" class="r-buffgk" loading="eager"/></picture><div data-rid="50944df1-e08d-448c-9293-6be1715b218c" class="r-eahuld alchemy-rte"><span style="width:100%"><p>© 2024 Dr. Woof Apparel AU.</p><p>All Rights Reserved.</p></span></div></div></div></div></div><style>@import url(https://fonts.googleapis.com/css2?family=Oxygen:wght@100;200;300;400;500;600;700;800;900;950&family=Montserrat:wght@100;200;300;400;500;600;700;800;900;950&family=Inter:wght@100;200;300;400;500;600;700;800;900;950)</style><style id="replo-fonts-Futura">
        @font-face {
          font-family: "Futura";
          src: url("https://assets.replocdn.com/projects/a9d102e8-62fd-48db-9971-e0ac1f597b6a/5c3cd742-2cda-43f7-a1ff-e4bac9cba113.woff") format("woff");
          font-weight: 500;
          font-style: normal;
        }
      </style><style id="replo-fonts-Futura">
        @font-face {
          font-family: "Futura";
          src: url("https://assets.replocdn.com/projects/a9d102e8-62fd-48db-9971-e0ac1f597b6a/2fde7f3f-7135-4aae-8da7-eaef51665a15.woff") format("woff");
          font-weight: 700;
          font-style: normal;
        }
      </style><style id="replo-fonts-Futura Cyrillic Book">
        @font-face {
          font-family: "Futura Cyrillic Book";
          src: url("https://assets.replocdn.com/projects/a9d102e8-62fd-48db-9971-e0ac1f597b6a/e42a5401-b921-4458-9ad8-b456a4a72f0a.woff") format("woff");
          font-weight: 400;
          font-style: normal;
        }
      </style><style id="replo-fonts-Futura Cyrillic Medium">
        @font-face {
          font-family: "Futura Cyrillic Medium";
          src: url("https://assets.replocdn.com/projects/a9d102e8-62fd-48db-9971-e0ac1f597b6a/aeed9d8a-e992-4684-bf48-59207582dbb1.woff") format("woff");
          font-weight: 500;
          font-style: normal;
        }
      </style></div>
{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}<script type="application/json" id="replo-deps-shopify-store">{ "shop": { "moneyFormat": {{ shop.money_format | json }}, "moneyWithCurrencyFormat": {{ shop.money_with_currency_format | json }} } }</script>{%- comment -%}replo-liquid-chunk-end{%- endcomment -%}